
<div class ="container">
  <button class = "panel panel-primary">
    <div class="panel-heading">
      Liste des Produits
    </div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="onGetProducts()">Produits</button>
    </div>
    <div class="panel-body">
      <table *ngIf="produits" class="table table-striped">
        <tr>
          <th>ID</th>
          <th>DES</th>
          <th>PRIX</th>
          <th>QTE</th>
        </tr>
        <tr *ngFor="let p of produits._embedded.produits">

          <td>{{p.designation}}</td>
          <td>{{p.prix}}</td>
          <td>{{p.quantite}}</td>
        </tr>
      </table>
    </div>

